<div class="one">
    <h1>filemanager</h1>
    <a href="/reset">USUŃ DANE O PLIKACH Z TABLICY</a>
</div>
<div class="two">

    <table>
        <tr class="second-header">
            <td>id</td>
            <td>obraz</td>
            <td>name</td>
            <td>size</td>
            <td>type</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {{#each data}}
        {{> filemanagerElement}}
        {{/each}}
    </table>
</div>